body {
  background-color: black;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.container {
  margin-top: 10vh;
}

.data-container {
  width: 50%;
  margin: 2vh auto;
  padding: 1vh;
  background-color: #a16204;
}

.category {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}