/* @import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300..700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300..700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #76533d;
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

button {
  padding: 0.5vh;
  margin: 1vh;
}

.navbar {
  background-color: white;
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 5vh;
  width: 70%;
  margin: 3vh auto;
  border-radius: 3vh;
}

.heading {
  text-decoration: none;
  color: black;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1d0e01;
  border-radius: 10vh;
  width: 50%;
  padding: 2vh;
}

.nav-buttons a {
  text-decoration: none;
  color: #000;
}

.radio {
  padding: 1vh 2vh;
  border-radius: 3vh;
  color: white;
  cursor: pointer;
}

.radio:hover {
  background-color: #bf8a5a;
  color: black;
  transition: 0.4s;
}

select {
  background-color: initial;
  border: initial;
  outline: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

option {
  display: block;
  color: black;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  height: 1vh;
}

.category {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.data-container {
  color: black;
  padding: 2vh;
  width: 50%;
  margin: 2vh auto;
  border-radius: 4vh 1vh;
  background-color: #bf8a5a;
  border: 2px solid #1d0e01;
}

.data-container button {
  padding: 1vh;
  margin: 1vh;
  margin-top: 1.5vh;
}

.box-1 {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0vh;
  font-weight: 400;
  border-bottom: 1px solid black;
}

/* margin: 2vh auto; */
.box-2 {
  margin: 1.7vh auto;
  word-break: break-all;
  text-align: left;
  font-weight: 600;
  font-style: italic;
  font-size: 13px;
}

.box-3 {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.box-3 button {
  padding: 1.2vh 1.4vh;
  outline: none;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}



/* .form-container {
  width: 20%;
  background-color: white;
  padding: 2vh;
  margin: 20vh auto;
  border: 1px solid yellow;
} */

form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: black;
}

form>label {
  text-align: left;
  font-weight: 500;
}

form>input {
  padding: 1vh;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: 1px solid black;
}

form>input,
label,
button,
hr {
  margin-top: 1.5vh;
}

.submit-btn {
  font-weight: 600;
  cursor: pointer;
  background-color: #000;
  color: white;
  margin-top: 1.8vh;
}

.container {
  margin-top: 5vh;
}

.form-container {
  width: 25%;
  background-color: white;
  margin: 10vh auto;
  padding: 3.2vh;
  border-radius: 2vh;
}

/* .login-container {
  width: 25%;
  background-color: white;
  margin: 10vh auto;
  padding: 3.2vh;
  border-radius: 2vh;
} */

.login-container span {
  text-align: left;
  font-size: 14px;
  margin-top: 1.5vh;
}

/* .signup-container {
  width: 25%;
  background-color: white;
  margin: 10vh auto;
  padding: 3.2vh;
  border-radius: 2vh;
}

.adding-container {
  width: 25%;
  background-color: white;
  margin: 10vh auto;
  padding: 3.2vh;
  border-radius: 2vh;
} */

textarea {
  border: 1px solid black;
  font-family: "Poppins", sans-serif;
  outline: none;
  padding: 1vh;
  margin-top: 1.5vh;
}